<a href="https://colab.research.google.com/github/SihyunPark01/AI_WEB/blob/main/kaggle%20/%20%EC%BA%90%EA%B8%80_%ED%83%80%EC%9D%B4%ED%83%80%EB%8B%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 캐글 타이타닉 - 머신러닝 맛보기 : 모델선택 & 학습 -> 이용 & 결과
# 데이터 전처리


import pandas as pd
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [ ]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
x_train = train[['Pclass', 'SibSp', 'Parch', 'Fare']]
y_train = train[['Survived']]
print(x_train.shape, y_train.shape)

(891, 4) (891, 1)

In [ ]:
train.info() #문자형이거나 이상치값때문에 데이터 전처리가 필요함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
## 모델 선택

from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5) #데이터를 보고 적합한 모델을 선택할 것 (이건 KNN 모델임)
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
## 모델 학습
model.fit(x_train, y_train['Survived'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred = model.predict(x_train)

In [ ]:
# 모델 이용 & 결과 확인

pd.DataFrame({  # 오 거의 다 맞혔네
    'y_real' : y_train['Survived'],
    'y_pred' : model.predict(x_train)
})

     y_real  y_pred
0         0       0
1         1       1
2         1       0
3         1       1
4         0       0
..      ...     ...
886       0       0
887       1       1
888       0       0
889       1       1
890       0       0

[891 rows x 2 columns]

In [ ]:
# 채점결과 (True 정답 False 오답)
model.predict(x_train) == y_train['Survived']

0       True
1       True
2      False
3       True
4       True
       ...
886     True
887     True
888     True
889     True
890     True
Name: Survived, Length: 891, dtype: bool

In [ ]:
# 정답의 개수
sum(model.predict(x_train) == y_train['Survived']) #정답의 개수 891개 중 683개 정도

683

In [ ]:
# 정답률
sum(model.predict(x_train) == y_train['Survived']) / len(y_train) #정답률 76% 정도

## KNN (K-Nearest Neighbor) 분류

> 분류할 데이터와 주어진 데이터의 모든 거리를 계산
> 가까운 거리의 데이터를 K개 만큼 찾은 후
> 그 중에서 가장 빈도수가 높은 클래스로 분류해주는 방법

In [ ]:
# 결과제출

x_test = test[['Pclass', 'SibSp', 'Parch', 'Fare']]
test.info()  #417 오류발견
x_test = x_test.fillna(0)
test.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
submit = pd.DataFrame({
    'PassengerId' : test['PassengerId'],
    'Survived': model.predict(x_test)
})
submit.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         1
3          895         0
4          896         1

In [ ]:
submit.to_csv("submission.csv", index=False)