<a href="https://colab.research.google.com/github/SihyunPark01/AI_WEB/blob/main/pandas%20/%201_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84_%ED%8F%89%EA%B7%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 평균 (집단을 잘 표현하는 대표값, 집단끼리 비교가능)

import random

sales = [random.randint(1,10) for i in range(10)]
sales

[5, 3, 9, 7, 6, 5, 2, 9, 8, 7]

In [ ]:
mean = sum(sales) / len(sales)
mean

6.1

In [ ]:
import pandas as pd

df = pd.DataFrame(sales, columns = ['sales'])
df

   sales
0      5
1      3
2      9
3      7
4      6
5      5
6      2
7      9
8      8
9      7

In [ ]:
df['sales'].mean()

6.1