<a href="https://colab.research.google.com/github/SihyunPark01/AI_WEB/blob/main/pandas%20/%202_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84_%ED%91%9C%EC%A4%80%ED%8E%B8%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 표준편차 ( 평균으로부터의 평균 거리, 편차들의 평균 )
# 학생들의 학습수준이 얼마나 일정한가, 나의 소비습관은 얼마나 들쭉날쭉한가, 선수의 득점은 얼마나 안정적인가..
# 집단의 분포된 정도 비교 가능. 확률과의 접점

import random

sales = [random.randint(1,10) for i in range(10)]
sales

[4, 7, 9, 9, 6, 9, 3, 1, 1, 2]

In [3]:
mean = sum(sales) / len(sales)
mean

5.1

In [5]:
deviations = [s - mean for s in sales]
deviations

[-1.0999999999999996,
 1.9000000000000004,
 3.9000000000000004,
 3.9000000000000004,
 0.9000000000000004,
 3.9000000000000004,
 -2.0999999999999996,
 -4.1,
 -4.1,
 -3.0999999999999996]

In [6]:
import math
std = sum([d ** 2 for d in deviations]) / len(deviations)
math.sqrt(std)

3.144837038703278

In [7]:
# 판다스에서의 표준편차

import pandas as pd

df = pd.DataFrame(sales, columns = ['sales'])
df

   sales
0      4
1      7
2      9
3      9
4      6
5      9
6      3
7      1
8      1
9      2

In [8]:
df['sales'].std()

3.314949304120485