<a href="https://colab.research.google.com/github/SihyunPark01/AI_WEB/blob/main/pandas%20/%203_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84_%EC%A4%91%EC%95%99%EA%B0%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 중앙값 : 값을 정렬한 후 가장 가운데에 있는 값
# 평균의 대체재. 평균이 대표값의 역할을 못할때 (이상치가 있을때) 중앙값을 사용

import pandas as pd
import random

sales = [random.randint(1,10) for i in range(10)]
sales
df = pd.DataFrame(sales, columns = ['sales'])
df

   sales
0      9
1      2
2      1
3      5
4     10
5      1
6      3
7      7
8      9
9      5

In [ ]:
df['sales'].median()

5.0