<a href="https://colab.research.google.com/github/SihyunPark01/AI_WEB/blob/main/pandas%20/%204_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84_%EC%82%AC%EB%B6%84%EC%9C%84%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 사분위수 ( 표준편차의 보완, 분포를 조금 더 알고 싶을 때 )

import random

sales = [random.randint(1,100) for i in range(16)]
sales.sort()
print(sales)

[6, 13, 16, 20, 46, 48, 49, 50, 51, 53, 56, 58, 59, 63, 81, 99]

In [3]:
n = (len(sales) // 4)
print("count", n)
print(f"{sales[n]},{sales[2*n]},{sales[3*n]}")

count 4
46,51,59

In [4]:
# 판다스에서 사분위수
import pandas as pd

df = pd.DataFrame(sales, columns = ['sales'])
df

    sales
0       6
1      13
2      16
3      20
4      46
5      48
6      49
7      50
8      51
9      53
10     56
11     58
12     59
13     63
14     81
15     99

In [5]:
df['sales'].quantile([.25, .5, .75])

0.25    39.50
0.50    50.50
0.75    58.25
Name: sales, dtype: float64

In [6]:
# 판다스에서 기술통계 한번에 보기

df['sales'].describe()

count    16.00000
mean     48.00000
std      24.54927
min       6.00000
25%      39.50000
50%      50.50000
75%      58.25000
max      99.00000
Name: sales, dtype: float64

In [3]:
# 문제) 다음 경기에 내보낼 선수가 한 명 필요합니다. 누구를 내보내야 할까요?

players = {
    'p1' : [7, 9, 9, 10, 10, 10, 10, 10, 11, 11, 13],
    'p2' : [7, 8, 9, 9, 10, 10, 10, 11, 11, 12, 13],
    'p3' : [3, 3, 6, 7, 7, 10, 10, 10, 11, 13, 30]
}

In [4]:
import pandas as pd

df = pd.DataFrame(players)
df

    p1  p2  p3
0    7   7   3
1    9   8   3
2    9   9   6
3   10   9   7
4   10  10   7
5   10  10  10
6   10  10  10
7   10  11  10
8   11  11  11
9   11  12  13
10  13  13  30

In [5]:
df.describe()

             p1         p2         p3
count  11.00000  11.000000  11.000000
mean   10.00000  10.000000  10.000000
std     1.48324   1.732051   7.362065
min     7.00000   7.000000   3.000000
25%     9.50000   9.000000   6.500000
50%    10.00000  10.000000  10.000000
75%    10.50000  11.000000  10.500000
max    13.00000  13.000000  30.000000

In [7]:
## list comprehension

numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
evens = [n for n in numbers if n % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [10]:
odds = [n for n in numbers if n % 2 != 0]
print(odds)

[1, 3, 5, 7, 9]

In [11]:
square_evens = [n ** 2 for n in numbers if n % 2 == 0]
print(square_evens)

[0, 4, 16, 36, 64]

In [12]:
## slicing (list에서 부분집합을 꺼내기)

numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
numbers[3:6]

[3, 4, 5]

In [14]:
numbers[6:]

[6, 7, 8, 9]

In [16]:
numbers[-3 :]

[7, 8, 9]