<a href="https://colab.research.google.com/github/SihyunPark01/AI_WEB/blob/main/pandas%20/%205_%EA%B8%B0%EC%88%A0%ED%86%B5%EA%B3%84_%EC%B5%9C%EB%B9%88%EA%B0%92%EA%B3%BC_%EB%B9%88%EB%8F%84%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 최빈값 : 가장 많이 등장하는 값, 빈도수를 체크하여 확인함. 
# 최빈값이 필요한 사례 ; 우리 회사의 주력 상품군은? 우리 회사의 주요 고객층은?
fruit = ['배','배','배','배','사과','사과','귤','귤','귤']
set(fruit)

{'귤', '배', '사과'}

In [ ]:
fruit_count = [(s, fruit.count(s)) for s in set(fruit)]
fruit_count

[('배', 4), ('귤', 3), ('사과', 2)]

In [ ]:
# 판다스에서의 빈도수

import pandas as pd

df = pd.DataFrame(fruit, columns=['fruit'])
df

  fruit
0     배
1     배
2     배
3     배
4    사과
5    사과
6     귤
7     귤
8     귤

In [ ]:
df['fruit'].value_counts()

배     4
귤     3
사과    2
Name: fruit, dtype: int64

In [ ]:
df['fruit'].value_counts(normalize=True)

배     0.444444
귤     0.333333
사과    0.222222
Name: fruit, dtype: float64